<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./inc/head')%>
</head>

<body>
    <%-include('./inc/navbar')%>
    <section>
        <h1>Hakkımızda</h1><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id minima atque accusantium earum omnis iure
                dicta, quasi laborum molestiae velit, quo nam recusandae repudiandae tenetur odio, ullam nihil aliquid
                tempore!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum perspiciatis praesentium modi quae soluta ab sit. Voluptatibus assumenda rerum dolore commodi. Fugit et numquam odit assumenda delectus laudantium sunt repellat?
        </p>
     </section>
</body>

</html>