<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/navbar')%>
    <h1 class="login"><%= title %> </h1>
    <section>
        <form action="" method="post">
            <input type="text" name='title' placeholder="Başlık">
            <input type="text" name='short' placeholder="Açıklama">
            <textarea name="long" cols="30" rows="10" placeholder="İçeriği giriniz..."></textarea>
            <input type="submit" value="Kaydet">
        </form>
    </section>
</body>
</html>