<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/navbar')%>
    <h1 class="login">Login</h1>
    <section>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Kullanıcı Adınız">
            <input type="password" name="password" placeholder="Şifrenizi Giriniz">
            <input type="submit" value="Gönder"> 
        </form>
    </section>
</body>
</html>